# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
*.log

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
cmake-build-*/
*/build/

# JetBrains files
.idea/

# IntelliJ
out/

# Visual Studio Code
.vscode/

example
example_nvcc
perf*_nvcc
perf*_sfnvcc

.venv
perf_tests/results
